body{
    background-color: black;
}

.btn{
    overflow: hidden;
    padding: 20px;
    color: #fff;
    background: none;
    border: none;
}
.btn::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.1s linear;
}
.btn:hover::after{
    transform: scaleX(1);
}